@import '../../assets/styles/utils/variables.scss';

.notfound-page {
  padding-top: 200px;

  &__text {
    font-weight: 400;
    font-size:30px;
    font-family: LilyScriptOne;
    text-align: center;
    margin-bottom: 100px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 3px solid #000;
    background-color: #000;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    transition: $trans-duration;

    &:-webkit-any-link {
      color: #fff;
    }

    &:hover {
      color: #000;
      background-color: #00000000;
    }
  }
}