@import '../../assets/styles/utils/variables.scss';

.booking {
  padding-top: 100px;

  &__form {
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 30px;

    @media (max-width: 820px) {
      display: block;
    }
  }

  &__right-column {
    padding-top: 15px;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    padding: 0 10px;

    &--mb {
      margin-bottom: 12px;
    }
  }

  &__services,
  &__prices,
  &__masters {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
  }

  input[type="radio"] {
    display: none;
  }

  &__services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-around;

    @media (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__service {
    width: 100%;
    border: 2px solid $col-brown;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: $col-brown;
    border-radius: 10px;

    &--active {
      background-color: $col-brown;
      color: #fff;
    }
  }

  &__price-switcher {
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px auto;
    font-size: 18px;
    font-weight: 500;
    
    label {
      cursor: pointer;
    }
  }

  &__headmaster-label {
    display: flex;
    width: 140px;
    margin: -15px 0 15px auto;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  &__master-container {
    display: grid;
    column-gap: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    margin-bottom: 15px;

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__master {
    filter: brightness(0.3);
    padding-bottom: 20px;
    cursor: pointer;
    transition: $trans-duration;
    border: 2px solid rgba(255, 255, 255, 0);

    &:hover {
      filter: brightness(1.1);
    }

    &--active{
      box-shadow: 0 7px 50px 10px #000000aa;
      filter: brightness(1.1);
      border-radius: 10px;
      border: 2px solid $col-brown;
      overflow: hidden;
      transform: scale(1.03);
    }
  }

  &__master-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;

    @media (max-width: 680px) {
      height: 360px;
    }
  }

  &__master-fullname {
    color: $col-brown;
    font-size: 22px;
    text-transform: uppercase;
    margin: 30px 0 10px;
    padding: 0 10px;

    @media (max-width: 720px) {
      font-size: 18px;
    }
  }

  &__master-qualification {
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
  }

  &__prices {
    margin-bottom: 40px;
  }

  &__prices-container {
    padding: 0;
    margin-bottom: 15px;
  }

  &__prices-total {
    background-color: $col-brown;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  &__personal-container {
    position: relative;
  }

  &__notification {
    font-size: 13px;
    color: red;
    text-align: end;
    position: absolute;
    right: 0;
    top: -14px;
  }

  &__personal {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    box-shadow: 0px 0px 7px 1px #42280091 inset;
    border-radius: 10px;

    &--textarea {
      height: 100px;
      margin-bottom: 40px;
      resize: none;
    }

    &::placeholder {
      color: #000;
      opacity: 0.75;
      font-size: 14px;
    }

    &:focus {
      box-shadow: 0px 0px 7px 1px $col-brown inset;
    }
  }

  &__order-message {
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-bottom: 24px;
    font-style: oblique;
  }

  &__order-list {
    margin-bottom: 14px;
    border-bottom: 2px solid #000;
  }

  &__order-item {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #000;
    }
  }

  &__remove-item {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid #000;
    background: center / 50% no-repeat url('../../assets/images/icons/remove.svg');
  }

  &__order-master {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;

    span {
      font-style: italic;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 300px));
    justify-content: center;
    column-gap: 20px;
    color: #fff;
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 3px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    transition: $trans-duration;

    &:hover {
      color: #000;
      background-color: #00000000;
    }

    &:disabled {
      background-color: rgb(175, 174, 174);
      border: gray;
      color: #fff;
      cursor:not-allowed;
    }

    &--new-order, &--home {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
    }

    &--home {
      background-color: $col-brown;
      border-color: $col-brown;
      text-align: center;
      line-height: 50px;

      &:hover {
        color: $col-brown;
      }
    }
  }

  &__loader-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__accepted-message {
    margin: 60px 0;

    h3 {
      span {
        font-size: 48px;
      }

      font-size: 36px;

      &::after {
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        margin: 10px auto 30px;
        background: center / contain no-repeat url('../../assets/images/icons/accept.svg');
      }
    }
    font-weight: 400;
    font-size:30px;
    font-family: LilyScriptOne;
    text-align: center;
  }
}

.react-international-phone-input-container {
  height: 48px;
  margin-bottom: 20px;

  .react-international-phone-input {
    display: block;
    width: 100%;
    font-size: 16px;
    box-shadow: 0px 0px 7px 1px #42280091 inset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;

    &::placeholder {
      color: #000;
      opacity: 0.75;
      font-size: 14px;
    }

    &:focus {
      box-shadow: 0px 0px 7px 1px $col-brown inset;
    }
  }

  .react-international-phone-country-selector-button {
    box-shadow: 0px 0px 7px 1px #42280091 inset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 65px;
  }
}
