.attributes {
  padding-top: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  &__card {
    width: 100%;
    height: 320px;
    perspective: 1000px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &--rotated {
      transform: rotateY(180deg);
    }
  }

  &__card-front, &__card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  &__card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #ffffff;
    padding: 20px;
  }

  &__img-container {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__card-title {
    font-size: 22px;
    margin-bottom: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background: center / contain no-repeat url('../../images/icons/click.svg');
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__card-button {
    color: $col-brown;
    font-weight: 500;
    font-size: 18px;
    background-color: #fff;
  }

  &__card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: $col-brown;
    transform: rotateY(180deg);
    padding: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 130%;
  }
}
