.benefits {
  padding-top: 90px;

  &__title {
    margin-bottom: 40px;
  }

  &__contents-container {
    position: relative;
    overflow: hidden;
    height: 600px;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    margin-bottom: 40px;
    min-width: 100%;
    background-color: $col-background;
    transition: left 1s;
  }

  &__img-container {
    min-width: 50%;
    height: 600px;

    @media (max-width: 720px) {
      height: 600px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    margin-left: 40px;
    margin-bottom: 20px;

    @media (max-width: 720px) {
      margin-left: 0;
      padding: 20px;
      position: relative;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.6);
      height: 600px;
    }
  }

  &__benefit-title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  &__benefit-text {
    font-size: 18px;
    line-height: 150%;

    @media (max-width: 720px) {
      height: 300px;
      font-weight: 500;
    }
  }

  &__buttons {
    width: 60px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid $col-brown;
    border-radius: 50%;

    &--active {
      background-color: $col-brown;
    }
  }
}
