.masters {
  padding-top: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 60px 30px;

    @media (max-width: 720px) {
      grid-template: 1fr / repeat(2, 1fr);
      column-gap: 20px;
    }

    @media (max-width: 540px) {
      grid-template: 1fr / repeat(1, 1fr);
      column-gap: 20px;
    }
  }

  &__img-container {
    margin-bottom: 30px;
    height: 400px;
    
    @media (max-width: 720px) {
      height: 400px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__fullname {
    color: $col-brown;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 720px) {
      font-size: 18px;
    }
  }

  &__qualification {
    font-size: 16px;
    font-style: italic;
  }
}
