.prices {
  padding-top: 90px;
  font-size: 18px;
  font-weight: 500;

  @media (max-width: 540px) {
    font-size: 14px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 7px 20px;

    &:nth-child(odd) {
      background-color: #e7dbc8;
    }
  }

  &__booking-item {
    &:nth-child(odd) {
      background-color: #e7dbc8;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;

    &:hover {
      background-color: $col-brown;
      color: #fff;
    }
  }

  &__item-title {
    flex-grow: 1;
    margin-right: 30px;
  }

  &__price-switcher {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px auto;
    
    p {
      cursor: pointer;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__price {
    margin-right: 15px;
    flex-shrink: 0;
  }
}
