.works {
  padding-top: 90px;
  margin-bottom: 30px;

  &__title {
    margin-bottom: 50px;
  }

  &__photos {
    display: grid;
    grid-template: 1fr 1fr/ repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 540px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
