* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:-webkit-any-link {
  color: inherit;
}

ul li {
  list-style-type: none;
}
