@font-face {
  font-family: 'Gotham Pro';
  src: url('../../fonts/GothamPro.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../fonts/GothamPro-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../fonts/GothamPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../fonts/GothamPro-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avoda';
  src: url('../../fonts/Avoda.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LilyScriptOne';
  src: url('../../fonts/LilyScriptOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

