@import './assets/styles/utils/reset.scss';
@import './assets/styles/utils/typography.scss';
@import './assets/styles/utils/variables.scss';
@import './assets/styles/utils/support.scss';

@import './assets/styles/blocks/welcome.scss';
@import './assets/styles/blocks/works.scss';
@import './assets/styles/blocks/masters.scss';
@import './assets/styles/blocks/prices.scss';
@import './assets/styles/blocks/comments.scss';

@import './assets/styles/blocks/title.scss';
@import './assets/styles/blocks/logo.scss';
@import './assets/styles/blocks/booking_button.scss';
@import './assets/styles/blocks/priceSwitcher.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 14px;
  background-color: $col-background;
}


