@import '../../assets/styles/utils/variables.scss';

.header {
  height: 80px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 11px;
  letter-spacing: 0.04em;
  box-shadow: 0px -11px 17px 0px #000;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  position: relative;
  transition: $trans-duration;

  @media (max-width: 580px) {
    overflow: hidden;
  }
  

  &--isMenu {
    height: 100vh;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    overflow: visible;
  }

  &__navbar {
    height: 100%;
    flex: 0 1 600px;
    margin-right: 20px;

    @media (max-width: 800px) {
      padding: 5px 0;
    }

    @media (max-width: 580px) {
      display: none;
    }
  }

  &__navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 800px) {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__navbar-item {
    height: 100%;
    position: relative;
  }

  &__navbar-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    transition: $trans-duration;
    line-height: 130%;

    &:hover {
      background-color: rgba(58, 33, 2, 0.3);
    }

    &--services {
      &::after {
        content: '  ';
        display: block;
        transform: rotate(-90deg);
        width: 30px;
        height: 14px;
        background: center / contain no-repeat url('../../assets/images/icons/arrow.svg');
      }
    }
  }

  &__booking-button, &__menu-button {
    background-color: #ebd9c5;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    touch-action: manipulation;
    
    &:hover {
      background-color: #fff;
    }

    &:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
    }

    @media (min-width: 768px) {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  &__booking-button {
    @media (max-width: 580px) {
      display: none;
    }
  }

  &__menu-button {
    display: none;

    @media (max-width: 580px) {
      display: block;
    }
  }

  &__topmenu {
    display: none;

    @media (max-width: 580px) {
      display: initial;
      position: absolute;
      top: 100px;
    }
  }

  &__topmenu-item {
    margin-bottom: 10px;
  }

  &__topmenu-list {
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    color: $col-brown;
  }

  &__topmenu-sublink {
    margin-left: 40px;
    list-style:circle;
  }
}
