@import '../../styles/utils/typography.scss';
@import '../../styles/utils/variables.scss';

.stet {
  position: relative;
  max-width: 2400px;
  margin: 0 auto;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.logo {
  height: 60px;
  display: block;
  margin-right: 30px;

  &__img {
    height: 100%;
    width: auto;
  }
}

.header {
  height: 80px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 11px;
  letter-spacing: 0.04em;
  box-shadow: 0px -11px 17px 0px #000;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__navbar {
    height: 100%;
    flex: 0 1 600px;
    margin-right: 20px;

    @media (max-width: 710px) {
      flex-basis: 380px;
    }

    @media (max-width: 580px) {
      display: none;
    }
  }

  &__navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 710px) {
      flex-wrap: wrap;
      height: 50%;
    }
  }

  &__navbar-item {
    height: 100%;
    &:not(:last-child) {
      padding-right: 20px;
    }

    @media (max-width: 710px) {
      width: 50%;
    }
  }

  &__navbar-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    transition: $trans-duration;
    line-height: 130%;

    &:hover {
      background-color: rgba(58, 33, 2, 0.3);
    }
  }

  &__booking-button, &__menu-button {
    background-color: #ebd9c5;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    touch-action: manipulation;
    
    &:hover {
      background-color: #fff;
    }

    &:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
    }

    @media (min-width: 768px) {
      min-width: 120px;
      padding: 0 25px;
    }
  }

  &__menu-button {
    margin-right: 20px;
    display: none;

    @media (max-width: 580px) {
      display: initial;
    }
  }
}

.top-menu {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;

  &__navbar-list {
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    color: $col-brown;
  }
}

.main {
  /* &__welcome {
    margin-bottom: 80px;
  }

  &__services {
    margin-bottom: 80px;
  }

  &__benefits {
    margin-bottom: 80px;
  } */

  &__footer {
    margin-top: 100px;
  }
}

.welcome {
  height: 900px;
  display: grid;
  position: relative;

  &__banner {
    background-size: cover;

    @media (max-width: 820px) {
      background-position: center;
    }

    &--home {
      background-position: left;
      background-image: url('../../styles/images/banners/Home+page+main+pic.jpg');
    }

    &--hair {
      background-position: right;
      background-image: url('../../styles/images/banners/banner__hair.jpg');
    }
  }

  &__left, &__right {
    text-align: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    background-color: $col-background;

    @media (max-width: 1240px) {
      width: 35%;
    }

    @media (max-width: 820px) {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__left {
    width: 25%;
    left: 0;
  }

  &__right {
    width: 40%;
    right: 0;
  }

  &__title {
    padding-top: 200px;
    font-family: LilyScriptOne;
    font-size: 120px;
    text-shadow: 2px 2px 4px #CE5937;
    margin-bottom: 60px;

    @media (max-width: 940px) {
      font-size: 86px;
    }

    @media (max-width: 820px) {
      font-size: 120px;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    font-family: LilyScriptOne;
    font-size: 24px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 1.5px;
    margin-bottom: 200px;

    @media (max-width: 940px) {
      font-size: 18px;
    }

    @media (max-width: 820px) {
      font-size: 24px;
    }
  }

  &__booking {
    border: none;
    padding: 20px 40px;
    font-size: 44px;
    position: relative;
    background: transparent;
    color: #000;
    text-transform: uppercase;
    border: 3px solid #000;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;

    &:hover {
      color: #fff;
    }

    span {
      transition: all 0.7s;
      z-index: -1;
    }

    .first {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      width: 25%;
      height: 100%;
      background: #000;
    }

    &:hover .first {
      top: 0;
      right: 0;
    }

    .second {
      content: "";
      position: absolute;
      left: 25%;
      top: -100%;
      height: 100%;
      width: 25%;
      background: #000;
    }

    &:hover .second {
      top: 0;
      left: 50%;
    }

    .third {
      content: "";
      position: absolute;
      left: 50%;
      height: 100%;
      top: 100%;
      width: 33%;
      background: #000;
    }

    &:hover .third {
      top: 0;
      left: 25%;
    }

    .fourth {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 25%;
      background: #000;
    }

    &:hover .fourth {
      top: 0;
      left: 0;
    }

    @media (max-width: 1620px) {
      font-size: 24px;
    }

    @media (max-width: 820px) {
      font-size: 36px;
    }
  }
}

.title {
  font-size: 28px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    height: 2px;
    width: 3000px;
    position: absolute;
    bottom: 0;
  }
}

.services {
  padding-top: 90px;

  &__container {
    padding: 0 80px;

    @media (max-width: 580px) {
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 40px;
    margin-left: -35px;
  }

  &__service-cards {
    display: flex;
    width: 100%;
    justify-content: center;

    @media (max-width: 1000px) {
      max-width: 500px;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }

  &__service-card {
    display: block;
    width: 240px;
    height: 320px;
    border: 1px solid #000;
    transform: skewX(-25deg);
    position: relative;
    overflow: hidden;
    transition: $trans-duration;
    margin-bottom: 20px;

    @media (max-width: 680px) {
      width: 180px;
      height: 260px;
    }

    @media (max-width: 580px) {
      transform: skewX(0);
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--hair::before,
    &--nails::before,
    &--makeup::before,
    &--men::before {
      content: '';
      display: block;
      width: 388px;
      height: 100%;
      position: absolute;
      left: -74px;
      z-index: -1;
      top: 0;
      transform: skewX(25deg);
      background-size: cover;
      background-position: center;

      @media (max-width: 580px) {
        transform: skewX(0);
      }
    }

    &--hair::before {
      /* background-image: url('https://skinkraft.com/cdn/shop/articles/Evidence-Based_db1b4e63-9d14-40c6-baad-32c51be1073b_1024x400.jpg?v=1625565535'); */
      background-image: url('../../styles/images/services/hair.jpg');
    }

    &--nails::before {
      background-image: url('../../styles/images/services/Nails.jpg');
    }

    &--makeup::before {
      background-image: url('../../styles/images/services/makeup.jpg');
      background-position-x: -8px;
    }

    &--men::before {
      background-image: url('../../styles/images/services/men.jpg');
    }

    span {
      color: $col-brown;
      font-size: 22px;
      font-weight: 500;
      padding: 10px 20px;

      display: flex;
      align-items: center;
      text-align: center;
      transform: skewX(25deg);
      padding: 10px 30px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid $col-brown;
      background-color: rgba(255, 255, 255, 0.75);

      position: absolute;
      bottom: 15px;
      left: 20px;

      @media (max-width: 680px) {
        font-size: 16px;
      }

      @media (max-width: 580px) {
        transform: skewX(0);
      }
    }

    &:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      filter: brightness(1.15);

      span {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.benefits {
  padding-top: 90px;

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 620px) {
      flex-direction: column-reverse;
    }
  }

  &__img-container {
    min-width: 50%;
    height: 480px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    margin-left: 40px;
    margin-bottom: 20px;

    @media (max-width: 620px) {
      margin-left: 0;
    }
  }

  &__benefit-title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  &__benefit-text {
    font-size: 18px;
    line-height: 150%;

    @media (max-width: 620px) {
      font-size: 18px;
    }
  }

  &__buttons {
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid $col-brown;
    border-radius: 50%;

    &--active {
      background-color: $col-brown;
    }
  }
}


.attributes {
  padding-top: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__card {
    border: 1px solid black;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  &__img-container {
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__card-title {
    font-size: 22px;
    margin-bottom: 40px;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__card-button {
    color: $col-brown;
    font-weight: 500;
    font-size: 18px;
    background-color: #fff;
  }

  &__card-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #422800;
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    overflow: hidden;

    &--active {
      height: 100%;
      padding: 30px;
    }
  }
}

.contacts {
  padding-top: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__contant {
    display: flex;

    @media (max-width: 820px) {
      flex-direction: column;
    }
  }

  &__map-container {
    width: 50%;
    height: 400px;
    background-image: url('../../styles/images/map.PNG');
    background-position: center;
    background-size: cover;

    @media (max-width: 820px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__info {
    padding-left: 60px;

    @media (max-width: 820px) {
      padding-left: 0;
    }
  }

  &__info-title {
    font-size: 24px;
    color: $col-brown;
    margin-bottom: 20px;
  }

  &__details {
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &:not(:last-child)::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    &--phone::before {
      background-image: url('../../styles/images/icons/phone.svg');
    }

    &--adress::before {
      background-image: url('../../styles/images/icons/location.svg');
    }
  }
}

.footer {
  background-color: #422800;
  color: #fff;


  &__container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__navbar-list {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  &__socials {
    display: flex;
  }

  &__social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 25px;
    background-size: contain;

    &--fb {
      background-image: url('../../styles/images/icons/fb-icon.svg');
    }

    &--inst {
      background-image: url('../../styles/images/icons/inst-icon.svg');
    }

    &--tg {
      background-image: url('../../styles/images/icons/telegram.svg');
    }
  }

  &__copyright {
    text-align: center;
    padding: 20px;
  }
}

.works {
  padding-top: 90px;

  &__title {
    margin-bottom: 50px;
  }

  &__photos {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 30px;

    @media (max-width: 720px) {
      grid-template: 1fr / repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 540px) {
      grid-template: 1fr / repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.masters {
  padding-top: 90px;

  &__title {
    margin-bottom: 60px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  &__img-container {
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__fullname {
    color: $col-brown;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 720px) {
      font-size: 18px;
    }
  }

  &__qualification {
    font-size: 16px;
    font-style: italic;
  }
}

.prices {
  padding-top: 90px;
  font-size: 18px;
  font-weight: 500;

  &__title {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 20px;

    &:nth-child(odd) {
      background-color: #e7dbc8;
    }
  }

  &__item-title {
    flex-grow: 1;
  }

  &__price {
    padding-right: 15px;
  }
}
